.sci{
  color:red;
}
.eng{
color:green;
}
.fr{
  color:blue;
}
.NS{
  color:yellow;
}
.spch{
  color:purple;
}
.phys{
  color:maroon;
}
.rel{
  color:teal;
}
.his{
  color:beige;
}
.mus{
  color:turquoise;
}
.prog{
  color:brown;
}


